<!DOCTYPE html>
<html>

<head>
    <title>Course MongoDB Chrysna</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="bg-dark">
    <div class="row">
        <div class="col-md-10 offset-md-1 bg-dark" style=" margin-top: 50px; padding:20px;">
            <!-- retrieving HTML String from the child Views -->
            {{{body}}}
        </div>
    </div>
</body>

</html>